body, canvas, div#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  color: rgb(0, 0, 0);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


